<div class="row">
    <div class="col-sm-8">
        <div class="title"><span>Biz kimiz?</span></div>
        <img src="~/Content/images/team.jpg" />
        <p class="desc" style="margin-top:10px;font-size:14px;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, tempore, excepturi, voluptatum, fugiat velit maiores placeat qui cumque perferendis impedit non aliquid asperiores sit facere doloremque! Fugit, quam, cum, in libero asperiores necessitatibus neque nostrum consectetur iusto voluptatem incidunt odit ut fugiat architecto aliquid? Officiis, nemo, odio tempora aut omnis at fugit quidem porro et ad alias quibusdam voluptate veritatis repellendus consequuntur beatae hic voluptatum ab voluptatem impedit! Dolor, autem, assumenda, dolorem veritatis nemo numquam dignissimos veniam molestiae facere tempora laboriosam soluta. Ea, magnam ratione eligendi exercitationem quisquam aspernatur a dolore veritatis unde nihil inventore quia at debitis quasi nisi!
        </p>
        <div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne">
                            Collapsable öğe 1. Ayrı bölümlere ayrılmış açıklamalar kullanılabilir.
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSec">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSec" aria-controls="collapseSec">
                            Collapsable öğe 2. Ayrı bölümlere ayrılmış açıklamalar kullanılabilir.
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseSec" role="tabpanel" aria-labelledby="headingSec" aria-expanded="false">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group faq-panel" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThr">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThr" aria-controls="collapseThr">
                            Collapsable öğe 3. Ayrı bölümlere ayrılmış açıklamalar kullanılabilir.
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThr" role="tabpanel" aria-labelledby="headingThr" aria-expanded="false">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        <address>
            <strong>Adres</strong><br />
            Uzunlar Mah. Sultanhisar Aydın/Türkiye <br />
            <abbr title="Phone">Tel:</abbr> +90 0256-323-33-82
        </address>
    </div>
    <div class="col-sm-4">
        <div class="title"><span>Manifestolarımız</span></div>
        <blockquote>
            <p>Sermayeye tapıyorsun amcoğlu :)</p>
            <footer>
                <cite>özlü sözün sahibi</cite>
            </footer>
        </blockquote>
    </div>
</div>
