<div class="row">
    <div class="col-sm-8 col-xs-12">
        <div class="title"><span>Soru ve görüşleriniz için bizimle iletişime geçin</span></div>
        <form>
            <div class="form-group">
                <label for="nameInput">İsim (*)</label>
                <input type="text" class="form-control" id="nameInput" placeholder="isim" />
            </div>
            <div class="form-group">
                <label for="emailInput">E-mail (*)</label>
                <input type="text" class="form-control" id="emailInput" placeholder="e-mail" />
            </div>
            <div class="form-group">
                <label for="subjectInput">Başlık (*)</label>
                <input type="text" class="form-control" id="subjectInput" placeholder="başlık" />
            </div>
            <div class="form-group">
                <label for="messageInput">Başlık (*)</label>
                <textarea class="form-control" rows="3" id="messageInput"></textarea>
            </div>
            <button type="button" class="btn btn-info btn-sm pull-right">Gönder
                <i class="fa fa-arrow-circle-right"></i></button>
        </form>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="title"><span>İletişim Adreslerimiz</span></div>
        <ul class="list-group blog-nav">
            <li class="list-group-item">» Uzunlar mah. Sultanhisar Aydın/Türkiye</li>
            <li class="list-group-item">» +90 0786-98-98-65</li>
            <li class="list-group-item">» etic@@etic.com</li>
        </ul>
        <div class="title"><span>Yerleşkemiz</span></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d100679.59061072205!2d28.1539008!3d37.948247!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b8c41dcc5fb1a9%3A0xb9aa88aff016783e!2sUzunlar%2C+09650+Uzunlar%2FSultanhisar%2FAyd%C4%B1n!5e0!3m2!1str!2str!4v1472258673020" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>