@{
    ViewBag.Title = "AccessDenied";
}

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="title"><span>Bu sayfa için yetkili değilsiniz!</span></div>
        <a href='@Url.Action("Index", "Home")'>Keşfet!</a>
    </div>
</div>