<div class="row">
    <div class="col-sm-8 login-register-form">
        <div class="title"><span>Kayıt ol</span></div>
        <div class="row">
            <form method="post" action="\Account\Register">
                <div class="form-group col-sm-6">
                    <label for="registerName">İsim</label>
                    <input type="text" class="form-control" id="registerName" name="name" placeholder="İsim" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="registerLastName">Soyisim</label>
                    <input type="text" class="form-control" id="registerLastName" name="lastName" placeholder="Soyisim" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="registerEmail">E-mail</label>
                    <input type="email" class="form-control" id="registerEmail" name="email" placeholder="E-mail" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="registerPassword">Şifre</label>
                    <input type="password" class="form-control" id="registerPassword" name="password" placeholder="şifre" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="registerConfirmPassword">Şifre Tekrar</label>
                    <input type="password" class="form-control" id="registerConfirmPassword" name="confirmPassword" placeholder="şifre tekrar" />
                </div>
                <div class="col-xs-12">
                    <div class="checkbox1">
                        <input type="checkbox" id="registerLicenceTerm" required />
                        <label for="registerLicenceTerm">Sözleşme şartlarını okudum. Kabul ediyorum.</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-info btn-md"><i class="fa fa-check"></i> Kaydet</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="title"><span>Zaten üye misin!</span></div>
        <form method="post" action="\Account\Login">
            <div class="form-group">
                <label for="loginEmail">E-mail</label>
                <input type="text" class="form-control" id="loginEmail" placeholder="E-mail" />
            </div>
            <div class="form-group">
                <label for="loginPassword">Şifre</label>
                <input type="password" class="form-control" id="loginPassword" placeholder="E-mail" />
            </div>
            <div class="checkbox1">
                <input type="checkbox" id="rememberMe" />
                <label for="rememberMe">Beni unutma!</label>
            </div>
            <button type="button" class="btn btn-info btn-sm pull-right">
                <span class="glyphicon glyphicon-log-in"></span>
                Giriş
            </button>
        </form>
    </div>
</div>